body {
	margin: 0px;
	overflow: hidden;
}

.AwayOS {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.AwayDesktopBackground {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	background-image: url("images/cloud.jpg");
	background-repeat: repeat;
	background-position: center center;
	z-index: -2;
}

.AwayDesktop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
}

/* Don't Change it */
.AwayDrag {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2147483580;
	display:none;
	background-color: #000000;
	opacity: 0.0;
	filter: alpha(opacity=0);
}

.AwayTaskBar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	z-index: 2147483584;
	display: block;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.AwayTaskBarBg {
	position: absolute;
	width: 100%;
	height: 30px;
	z-index: -1;
	background-color: #aaaaaa;
}

.AwayTaskPanels {
	position: absolute;
	height: 30px;
	z-index: 10;
	left: 100px;
}

.AwayTaskPanel {
	float: left;
	text-align:center;
	height: 30px;
	opacity: 0.8;
	line-height: 30px;
	padding: 1px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.AwayStartButton {
	position: absolute;
	width: 100px;
	left: 0;
	height: 30px;
	background: bisque;
}

.AWindowBorder {
	position: absolute;
	border: 1px solid #BFBFBF;
}

.AWindow {
	background-color: white;
	width: 100%;
	height: 100%;
}

.AWindowTitleBar {
	height: 20px;
	width: 100%;
	background: transparent url("panel_title.png");
	background-repeat: repeat;
	font-weight: bold;
	cursor: default;
	position: relative;
}

.AWindowTitle {
	height: 18px;
	margin: 2px;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	left: 2px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.AWindowContent {
	width: 100%;
	cursor: default;
	position: relative;
}

.AWindowContentBlot {
	width: 100%;
	position: absolute;
	cursor: default;
	left: 0px;
	background-color: #000000;
	opacity: 0.0;
	filter: alpha(opacity=0);
}

.AWindowCloseButton {
	position: absolute;
	right: 3px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url("panel_tools.gif") 16px 0;
	cursor: pointer;
}

.AWindowMinimizeButton {
	position: absolute;
	right: 37px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url("panel_tools.gif") 0 0;
	cursor: pointer;
}

.AWindowMaximizeButton {
	position: absolute;
	right: 20px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url("panel_tools.gif") 0 16px;
	cursor: pointer;
}

.AWindowRestoreButton {
	position: absolute;
	right: 20px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url("panel_tools.gif") 16px 16px;
	cursor: pointer;
}

.AWindowCanResize {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 10px;
	height: 10px;
	cursor: se-resize;
	background-color: #BFBFBF;
	opacity: 0.2;
}